body{ background-color: gray;} 
p { color: blue; } 
h3{ color: red; }
a {text-decoration:none;}
p { text-indent: 10%; text-align:justify;text-transform:capitalize;white-space: nowrap; word-spacing: 10px; letter-spacing: 3px; }


